/ApiRESTful/rest/target/
/ApiRESTful/dtos/target/
/ApiRESTful/target/
\.DS_Store
rest/logs/
rest/propertieslog\.log
dtos/target/

rest/target/original-rest-0\.1-SNAPSHOT\.jar

aws/target/

*.gz

rest/target/maven-archiver/

rest/target/classes/

credentials

propertieslog\.log

logs/propertieslogs\.log

rest/target/rest-0\.1-SNAPSHOT\.jar

\.env
/authentication/target/
/services/target/